/* project/frontend/css/styles.css */

body {
    font-family: Arial, sans-serif;
}

.navbar-brand {
    font-weight: bold;
}

.list-group-item {
    margin-bottom: 10px;
}

.form-group {
    margin-bottom: 15px;
}
